html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#map {
  height: 100vh;
  width: 100%;
}

.shop-marker {
  display: flex;
  align-items: center;
  user-select: none;
  cursor: pointer;
  /* transform удаляем!*/
}

.label-text {
  background: #2196f3;
  color: white;
  padding: 4px 10px;
  border-radius: 6px;
  font-size: 16px;
  font-style: italic;
  font-weight: bold;
  white-space: nowrap;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
}

.triangle {
  width: 0;
  height: 0;
}

.marker-up {
  flex-direction: column;
}
.marker-up .triangle {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 12px solid #2196f3;
}

.marker-down {
  flex-direction: column-reverse;
}
.marker-down .triangle {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 12px solid #2196f3;
}

.marker-right {
  flex-direction: row-reverse;
}
.marker-right .triangle {
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: none; /* Удаляем */
  border-right: 12px solid #2196f3; /* Стрелка направо ✅ */
}

.marker-left {
  flex-direction: row-reverse;
}
.marker-left .triangle {
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: none;
  border-left: 12px solid #2196f3; /* Стрелка налево ✅ */
}

.leaflet-control-attribution {
  display: none !important;
}


